.faq__item {
  display: flex;
  justify-content: space-between;
  background-color: var(--white-color, #fff);
  color: var(--bg-color, #1b1a1b);
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  line-height: 40px;
  list-style-type: none;
}

.faq__item:not(:last-of-type) {
  margin-bottom: 20px;
}

.faq__item:nth-child(even) {
  color: var(--white-color, #fff);
  background-color: var(--dark-purple, #440F51);
}

.faq__item-pic {
  fill: none;
}

.faq__circle,
.faq__vertical,
.faq__minus{
  transition-duration: 0.2s;
  transition-property: stroke, fill;
}

.faq__circle_purple,
.faq__vertical_purple,
.faq__minus_purple {  
  stroke: var(--dark-purple, #440F51);
}

.faq__vertical_purple,
.faq__minus_purple {
  fill: var(--dark-purple, #440F51);
}

.faq__circle_white,
.faq__vertical_white,
.faq__minus_white {  
  stroke: var(--white-color, #fff);

}

.faq__vertical_white,
.faq__minus_white {
  fill: var(--white-color, #fff);
}

.faq__item:hover .faq__circle_white {
  fill: var(--white-color, #fff);
}

.faq__item:hover .faq__vertical_white,
.faq__item:hover .faq__minus_white {
  fill: var(--dark-purple, #440F51);
  stroke: var(--dark-purple, #440F51);
}

.faq__item:hover .faq__circle_purple {
  fill: var(--dark-purple, #440F51);
}

.faq__item:hover .faq__vertical_purple,
.faq__item:hover .faq__minus_purple {
  fill: var(--white-color, #fff);
  stroke: var(--white-color, #fff);
}

.faq__item:active .faq__vertical_purple,
.faq__item:active .faq__vertical_white {  
  fill: none;
  stroke: none;
}


@media (max-width: 1250px) {
  .faq__item {   
    font-size: 20px;   
    padding: 23px 25px;
  line-height: 24px; 
  }
}

@media (max-width: 860px) {
  .faq__item {   
    font-size: 18px;   
    padding: 23px 54px;
  line-height: 24px; 
  }

}

@media (max-width: 680px) {
  .faq__item {   
    font-size: 12px;    
    padding: 7px 10px;
  line-height: 16px;
  }

  .faq__item-pic{
    width: 30px;
    height: 30px;
  } 
}