.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    text-transform: uppercase;
    padding-top: 30px;
}

.header__logo-text {
    fill: var(--white-color, #fff);
}

.header__logo-border {
    fill: var(--pink-color, #cd06ff);
}

.header__link-text {
    font-size: 22px;
    line-height: 50px;
}

.header__button {
    padding: 15px 32px;
    font-size: 22px;
    text-transform: uppercase;
    color: var(--white-color, #fff);
    border: 1px solid var(--pink-color, #cd06ff);
    border-radius: 10px;
    max-width: 280px;
    max-height: 55px;
    transition-duration: 0.2s;
    transition-property: color, background-color, border;
}

.header__menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.header__button:hover {
    color: var(--white-color, #fff);
    background-color: var(--purple, #6c0287);
    border: 1px solid var(--purple, #6c0287);
}

.header__button:focus {
    color: var(--white-color, #fff);
    background-color: var(--purple, #6c0287);
    border: 1px solid var(--purple, #6c0287);
}

.header__button:active {
    color: var(--white-color, #fff);
    background-color: var(--active-button, #640aa3);
    border: 1px solid var(--white-color, #fff);
}

.header__burger {
    display: none;
    transition-duration: 0.2s;
    transition-property: fill, stroke, border, transform;
    cursor: pointer;
}

.header__burger-border {
    fill: var(--purple, #6c0287);
    transition: transform 0.2s;
}

.header__burger:hover .header__burger-border {
    fill: var(--pink-color, #cd06ff);
}

.header__burger:focus .header__burger-border {
    fill: var(--focus-hover-button, #840aa3);
}

.header__burger:focus {
    outline: 3px solid var(--focus-hover-button, #840aa3);
}

.header__burger:active .header__burger-border {
    fill: var(--focus-hover-button, #840aa3);
}

.header__burger:active {
    outline: 3px solid var(--focus-hover-button, #840aa3);
}

/*
.header__burger:active {
    outline: none;
}*/

@media (max-width: 1250px) {
    .header__logo {
        width: 87px;
    }

    .header__button {
        padding: 10px 26px;
        font-size: 18px;
        max-width: 230px;
        max-height: 45px;
    }

    .header__link-text {
        font-size: 18px;
        line-height: 22px;
    }
}

@media (max-width: 950px) {
    .header__menu {
        display: none;
    }

    .header__burger {
        display: block;
    }
}

@media (max-width: 480px) {
    .header__logo {
        width: 66px;
    }

    .header__button {
        display: none;
    }
}