
@import "top-hall.css";
@import "about-hall.css";
@import "other-hall.css";

.picture {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

.title {
    font-size: 90px;
    align-items: center;
}





