.other-hall__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
}

.other-hall__name {
    display: block;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    padding: 78px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    white-space: pre-wrap;
}

.other-hall__item {
    text-align: center;
    width: 100%;
}

.other-hall__name_theme_vibes {
    background-image: url("../../assets/images/80s_vibes.png");
    background-size: cover;
    background-position: center;
}

.other-hall__name_theme_starwars {
    background-image: url("../../assets/images/star_wars.png");
}

.other-hall__name_theme_wildwest {
    background-image: url("../../assets/images/wild_west.png");
}

.other-hall__name_theme_neon {
    background-image: url("../../assets/images/neon_style.png");
}



@media (max-width: 1024px) {
    .other-hall__name {
        padding: 50px 0px;
    }
}

@media (max-width: 768px) {
    .other-hall__name {
        font-size: 20px;
        padding: 43px 0px;
    }
}

@media (max-width: 560px) {

    .other-hall__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 5px;
    }


    .other-hall__name {
        font-size: 20px;
        padding: 50px 0px;
    }
}