.about-us__quote {
    text-transform: uppercase;
    font-size: 44px;
    padding-left: 31px;
    margin-bottom: 39px;
}

.about-us__quotes {
    font-size: 44px;
    font-weight: 900;
    color: #6c0287;
}

.about-us__quotes-left {
    float: left;
}

.about-us__quote-sub {
    float: right;
}

.about-us__quote-sub-text {
    display: inline-block;
    text-align: left;
    line-height: 28px;
    padding-left: 30px;
    max-width: 280px;
}

.about-us__boss-foto {
    display: inline-block;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center -10px;
}

.about-us__text {
    line-height: 28px;
    margin-bottom: 30px;
}

.about-us__text:last-of-type {
    margin-bottom: 54px;
}

.about-us__block2 {
    max-width: 500px;
}

.about-us__block {
    display: inline-block;
    vertical-align: text-bottom;
}

.about-us__image {
    margin-right: 70px;
    max-width: 600px;
}