.about-us__grid-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 48px 70px;
}

.about-us__image {
    display: block;
    grid-area: 1 / 1 / 4 / 2;
    object-fit: contain;        
    height: 100%;
}

.about-us__quote {
    text-transform: uppercase;
    font-size: 44px;
    padding-left: 31px;
    margin-bottom: 39px;
}

.about-us__quotes {
    font-size: 44px;
    font-weight: 900;
    color: var(--purple, #6c0287);
}

.about-us__quotes-left {
    float: left;
}

.about-us__quote-sub {
    float: right;
}

.about-us__quote-sub-text {
    display: inline-block;
    text-align: left;
    line-height: 28px;
    padding-left: 30px;
    max-width: 280px;
}

.about-us__boss-foto {
    display: inline-block;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center -10px;
}

.about-us__text {
    line-height: 28px;
    margin-bottom: 30px;
}

.about-us__text:last-of-type {
    margin-bottom: 54px;
}

@media (max-width: 1024px) {
    .about-us__flex-block {
        gap: 40px;
    }


    .about-us__quote {
        font-size: 30px;
        margin-bottom: 13px;
    }

    .about-us__quotes {
        font-size: 30px;
    }

    .about-us__quote-sub-text {

        line-height: 26px;
        padding-left: 18px;
        max-width: 225px;
    }

    .about-us__boss-foto {
        width: 70px;
        height: 70px;
        object-fit: cover;
        object-position: center -10px;
    }

    .about-us__text {
        line-height: 24px;
        margin-bottom: 30px;
    }

    .about-us__text:last-of-type {
        margin-bottom: 26px;
    }
}

@media (max-width: 860px) {
    .about-us__flex-block {
        gap: 40px;
    }


    .about-us__quote {
        font-size: 30px;
        margin-bottom: 13px;
    }

    .about-us__quotes {
        font-size: 30px;
    }

    .about-us__quote-sub-text {

        line-height: 26px;
        padding-left: 18px;
        max-width: 225px;
    }

    .about-us__boss-foto {
        width: 70px;
        height: 70px;
        object-fit: cover;
        object-position: center -10px;
    }

    .about-us__text {
        line-height: 24px;
        margin-bottom: 30px;
    }

    .about-us__text:last-of-type {
        margin-bottom: 26px;
    }
}

@media (max-width: 680px) {}