.faq__item {
  display: flex;
  justify-content: space-between;
  background-color: var(--white-color, #fff);
  color: var(--bg-color, #1b1a1b);
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  line-height: 40px;
  list-style-type: none;
}

.faq__item:not(:last-of-type) {
  margin-bottom: 20px;
}

.faq__item:nth-child(even) {
  color: var(--white-color, #fff);
  background-color: var(--dark-purple, #440F51);
}

.faq__item-pic {
  fill: none;
}

.faq__circle-purple,
.faq__vertical-purple,
.faq__minus-purple {
  transition-duration: 0.2s;
  transition-property: stroke, fill;
  stroke: var(--dark-purple, #440F51);
}

.faq__vertical-purple,
.faq__minus-purple {
  fill: var(--dark-purple, #440F51);
}

.faq__circle-white,
.faq__vertical-white,
.faq__minus-white {
  transition-duration: 0.2s;
  transition-property: stroke, fill;
  stroke: var(--white-color, #fff);

}

.faq__vertical-white,
.faq__minus-white {
  fill: var(--white-color, #fff);
}

.faq__item:hover .faq__circle-white {
  fill: var(--white-color, #fff);
}

.faq__item:hover .faq__vertical-white,
.faq__item:hover .faq__minus-white {
  fill: var(--dark-purple, #440F51);
  stroke: var(--dark-purple, #440F51);
}

.faq__item:hover .faq__circle-purple {
  fill: var(--dark-purple, #440F51);
}

.faq__item:hover .faq__vertical-purple,
.faq__item:hover .faq__minus-purple {
  fill: var(--white-color, #fff);
  stroke: var(--white-color, #fff);
}

.faq__item:active .faq__vertical-purple,
.faq__item:active .faq__vertical-white {  
  fill: none;
  stroke: none;
}