.footer {
    padding: 50px 0;
}

.footer__contact-list {
    margin-bottom: 40px;
}

.footer__contact {
    font-weight: 700;
    font-size: 24px;
}

.footer__contact-name {
    color: #fff;
    text-decoration: none;
}

.footer__contact {
    position: relative;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    padding-left: 70px;
}

.footer__contact:first-of-type {
    margin-bottom: 40px;
}

.footer__contact-name {
    color: #fff;
    text-decoration: none;
}

.footer__contact::before {
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.adress::before {
    background-image: url('../assets/images/location.svg');
}

.phone::before {
    background-image: url('../assets/images/call.svg');
}

.mail::before {
    background-image: url('../assets/images/envelope.svg');
}

.footer__social-item {
    display: inline-block;
    margin-right: 25px;
}

.footer__social-item:last-of-type {
    margin-right: 0;
}

.footer__social:hover {
    color: #6c0287;
}