:root {
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    --bg-color: #1b1a1b;
    --black-color: #000;
    --white-color: #fff;
    --pink-color: #cd06ff;
    --dark-purple: #440F51;
    --purple: #6c0287;
    --active-button: #640aa3;
    --focus-hover-button: #840aa3;
    --light-purple: #eadeed;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--white-color, #fff);
    background-color: var(--bg-color, #1b1a1b);
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

svg {
    max-height: 100%;
}

button {
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
    transition-duration: 0.2s;
    transition-property: color, outline;
}

a:hover {
    color: var(--light-purple, #eadeed);
}

a:focus {
    color: var(--light-purple, #eadeed);
    outline: 1px solid var(--pink-color, #cd06ff);
}

a:active {
    color: var(--pink-color, #cd06ff);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure {
    margin: 0;
    border: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

iframe {
    border: none;
}

blockquote {
    padding: 0;
    margin: 0;
}

address {
    font-style: normal;
}

/*
  Доступно скрываю элементы
  */

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.container {
    max-width: 1440px;
    padding: 0 130px;
    margin: 0 auto;
}

.section {
    padding: 50px 0;
}

.subtitle {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 1250px) {
    body {
        font-size: 18px;
    }

    .container {
        max-width: 1024px;
        padding: 0 60px;
    }

    .subtitle {
        font-size: 30px;
        margin-bottom: 36px;
    }

    .section {
        padding: 35px 0;
    }
}

@media (max-width: 840px) {
    body {
        font-size: 16px;
    }

    .container {
        max-width: 768px;
        padding: 0 40px;
        margin: 0 auto;
    }

    .subtitle {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .section {
        padding: 30px 0;
    }
}

@media (max-width: 680px) {
    body {
        font-size: 12px;
    }

    .container {
        max-width: 320px;
        padding: 0 20px;
        margin: 0 auto;
    }

    .subtitle {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .section {
        padding: 15px 0;
    }
}