.halls__list {
    display: flow-root;
}

.halls__name {
    display: block;
    font-weight: 700;
    font-size: 70px;
    text-transform: uppercase;
    padding: 135px 0px;
    min-width: 577px;
    background-size: cover;
    background-repeat: no-repeat;
}

.halls__item {
    display: inline-block;
    text-align: center;
}

.halls__item:not(:last-of-type) {
    margin-bottom: 20px;
    margin-right: 20px;
}

.halls__item:nth-last-of-type(3) {
    margin-right: 0;
}

.halls__item:nth-last-of-type(2) {
    margin-bottom: 0;
}


.halls__name_theme_vibes {
    background-image: url("../assets/images/80s_vibes.png");
}

.halls__name_theme_starwars {
    background-image: url("../assets/images/star_wars.png");
}

.halls__name_theme_wildwest {
    background-image: url("../assets/images/wild_west.png");
}

.halls__name_theme_neon {
    background-image: url("../assets/images/neon_style.png");
}