.reservation {
    background-color: #440f51;
}

.reservation__container {
    padding: 80px 0;
}

.reservation__form {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.reservation__select {
    border: none;
    padding: 0;
}

.reservation__select:not(:last-of-type) {
    margin-bottom: 60px;
}

.reservation__select:last-of-type {
    margin-bottom: 40px;
}

.reservation__select-hall {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    text-align: center;
}

.reservation__select-game {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.reservation__select-data {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.reservation__caption {
    display: block;
    margin-bottom: 40px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.reservation__hall-name {
    cursor: pointer;
    background-color: #fff;
    border: 3px solid #fff;
    color: #000;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    min-height: 55px;
    min-width: 250px;
    padding: 7px 15px 8px 15px;
    border-radius: 8px;
}

.reservation__check {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reservation__select-game-caption {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 23px;
}

.reservation__check-unput {
    width: 25px;
    height: 25px;
    margin-right: 12px;
}

.reservation__check-label {
    font-size: 22px;
    line-height: 100%;
}

.reservation__block-date {
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-self: flex-end;
}

.reservation__date-time-block {
    display: flex;
    gap: 32px;
}

.reservation__block-personal-data {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.reservation__data-label_block,
.reservation__data-input_block,
.reservation__adress-input_block {
    display: block;
}

.reservation__data-input {
    min-height: 52px;
    min-width: 280px;
}

.reservation__adress-input {
    min-height: 52px;
    min-width: 300px;
}

.reservation__date-time {
    min-height: 52px;
    min-width: 134px;
}

.reservation__number {
    min-height: 52px;
    min-width: 300px;
}

.reservation__date-time,
.reservation__number,
.reservation__data-input,
.reservation__adress-input {
    padding-left: 10px;
}

.reservation__select-button {
    min-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.reservation__button {
    color: #440f51;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    min-width: 300px;
    min-height: 60px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}

.reservation__select_block {
    display: inline-block;
}

.reservation__hall-name:hover {
    background-color: #eadeed;
    border: 3px solid #640aa3;
}

.reservation__hall-name:active {
    color: #fff;
    background-color: #6c0287;
    border: 3px solid #fff;
}

.reservation__hall-name:focus {
    background-color: #fff;
    border: 3px solid #640aa3;
}

.reservation__button:hover {
    color: #fff;
    background-color: #6c0287;
    border: 3px solid #6c0287;
}

.reservation__button:active {
    color: #fff;
    background-color: #6c0287;
    border: 3px solid #6c0287;
}

.reservation__button:focus {
    color: #fff;
    background-color: #6c0287;
    border: 3px solid #6c0287;
}

.reservation__data-input:focus,
.reservation__adress-input:focus {
    outline: none;
    border: 2px solid #cd06ff;
}

.reservation__check-unput:focus {
    outline: 1px solid #cd06ff;
}