.review__foto {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 10px;    
}
.review__gradient{
    position: relative;
    overflow: hidden; 
    width: 280px;
    height: 280px;
    border-radius: 100%;
}

.review__gradient:after {
	content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: transparent;
	background-image: radial-gradient(rgba(196, 196, 196, 0), rgba(108, 2, 135, 0.5));
	opacity: 1;
}

.review__block {
    display: inline-block;
    vertical-align: text-top;
}

.review__text {
    max-width: 670px;
}

.review__people {
    text-align: center;
    margin-right: 20px;    
}

.review__text {
    padding-top: 80px;
}

.review__item:not(:last-child) {
    margin-bottom: 50px;
}

.review__list {
    max-width: 980px;
    margin: 0 auto;
}

.review__foto_position-one {
    object-position: center 0;
}

.review__foto_position-two {
    object-position: center -50px;
}

.review__foto_position-three {
    object-position: center -80px;
}