.top {
    min-height: 823px;
}

.top__title {
    font-weight: 900;
    font-size: 150px;
    letter-spacing: -0.1em;
    z-index: 0;
}

.top__sub {
    padding-left: 100px;
    margin-bottom: 30px;
}

.top__container {
    position: relative;
    min-height: 823px;
}

.top__container::before {
    position: absolute;
    z-index: 1;
    background-image: url("../assets/images/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 675px;
    height: 762px;
    content: '';
    bottom: 0;
    right: 130px;
}

.top__middle-block {
    display: flex;
    align-items: flex-end;
    gap: 0 40px;
    margin-bottom: 150px;
}

.top__text {
    font-size: 30px;
    text-align: center;
    white-space: pre-wrap;
}

.top__text_purple {
    color: #cd06ff;
}

.top__text_small {
    font-size: 75px;
    font-weight: 900;
}

.top__text_big {
    font-size: 100px;
    font-weight: 900;
}

.top__button {
    min-width: 374px;
    min-height: 80px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px #6c0287;
    background-color: #6c0287;
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    transition-duration: 0.2s; 
    transition-property: background-color, box-shadow;
}

.top__arrow {
    position: absolute;
    right: 47%;
    bottom: 90px;
    fill: transparent;
    z-index: 1;
    transition-duration: 0.2s; 
    transition-property: fill, stroke, border;
}

.top__arrow-circle {
    stroke: #fff;
}

.top__arrow-rect {
    fill: #fff;
}

.top__button:hover {
    box-shadow: 0px 0px 20px 5px #840aa3;
    background-color: #840aa3;
}

.top__button:active {
    box-shadow: 0px 0px 20px 5px #640aa3;
    background-color: #640aa3;
}

.top__button:focus {
    box-shadow: 0px 0px 20px 5px #840aa3;
    background-color: #840aa3;
}

.top__arrow:hover {
    fill: #fff;
}

.top__arrow:hover .top__arrow-rect {
    fill: #6c0287;
}

.top__arrow:active {
    fill: #cd06ff;
    border: 1px solid #cd06ff;
}

.top__arrow:active .top__arrow-rect {
    fill: #fff;
}

.top__arrow:active .top__arrow-circle {
    stroke: #cd06ff;
}

.top__arrow:focus {
    outline: 1px solid #cd06ff;
}