.top {
    min-height: 823px;
}

.top__title {
    font-weight: 900;
    font-size: 150px;
    letter-spacing: -0.1em;
    z-index: 0;
}

.top__sub {
    padding-left: 100px;
    margin-bottom: 30px;
    font-size: 22px;
}

.top__container {
    position: relative;
    min-height: 823px;
}

.top__container::before {
    position: absolute;
    z-index: 1;
    background-image: url("../assets/images/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 675px;
    height: 762px;
    content: '';
    bottom: 0;
    right: 130px;
}

.top__middle-block {
    display: flex;
    align-items: flex-end;
    gap: 0 40px;
    margin-bottom: 150px;
}

.top__text {
    font-size: 30px;
    text-align: center;
    white-space: pre-wrap;
}

.top__text_purple {
    color: var(--pink-color, #cd06ff);
    ;
}

.top__text_small {
    font-size: 75px;
    font-weight: 900;
}

.top__text_big {
    font-size: 100px;
    font-weight: 900;
}

.top__button {
    min-width: 374px;
    min-height: 80px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px var(--purple, #6c0287);
    background-color: var(--purple, #6c0287);
    color: var(--white-color, #fff);
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    transition-duration: 0.2s;
    transition-property: background-color, box-shadow;
}

.top__arrow {
    position: absolute;
    right: 47%;
    bottom: 90px;
    fill: transparent;
    z-index: 1;
    transition-duration: 0.2s;
    transition-property: fill, stroke, border;
}

.top__arrow-circle {
    stroke: var(--white-color, #fff);
}

.top__arrow-rect {
    fill: var(--white-color, #fff);
}

.top__button:hover {
    box-shadow: 0px 0px 20px 5px var(--focus-hover-button, #840aa3);
    background-color: var(--focus-hover-button, #840aa3);
}

.top__button:focus {
    box-shadow: 0px 0px 20px 5px var(--focus-hover-button, #840aa3);
    background-color: var(--focus-hover-button, #840aa3);
}

.top__button:active {
    box-shadow: 0px 0px 20px 5px var(--active-button, #640aa3);
    background-color: var(--active-button, #640aa3);
}

.top__arrow:hover {
    fill: var(--white-color, #fff);
}

.top__arrow:hover .top__arrow-rect {
    fill: var(--purple, #6c0287);
}

.top__arrow:focus {
    outline: 1px solid var(--pink-color, #cd06ff);
    ;
}

.top__arrow:active {
    fill: var(--pink-color, #cd06ff);
    ;
    border: 1px solid var(--pink-color, #cd06ff);
    ;
}

.top__arrow:active .top__arrow-rect {
    fill: var(--white-color, #fff);
}

.top__arrow:active .top__arrow-circle {
    stroke: var(--pink-color, #cd06ff);
    ;
}

@media (max-width: 1250px) {
    .top {
        min-height: 583px;
    }

    .top__container {        
        min-height: 583px;
    }

    .top__title {
        font-size: 120px;
        margin-bottom: 20px;
    }

    .top__text {
        font-size: 26px;
    }

    .top__text_big {
        font-size: 80px;
    }

    .top__text_small {
        font-size: 60px;
    }

    .top__middle-block {      
        margin-bottom: 80px;
    }

    .top__button{
        min-width: 296px;
        min-height: 64px;        
        font-size: 22px;        
    }

    .top__arrow{
        width: 67px;
        height: 67px;
    }      
    
    .top__container::before { 
        right: 60px;
        width: 453px;
        height: 520px; 
    }
}

@media (max-width: 860px) {
    .top {
        min-height: 537px;
    }

    .top__container {        
        min-height: 537px;
    }

    .top__title {
        font-size: 86px;
        margin-bottom: 10px;
    }

    .top__sub {
        padding-left: 67px;
        margin-bottom: 50px;
        font-size: 18px;
    }

    .top__text {
        font-size: 16px;
    }

    .top__text_big {
        font-size: 50px;
    }

    .top__text_small {
        font-size: 40px;
    }

    .top__middle-block {        
        gap: 0 30px;
        margin-bottom: 100px;
    }

    .top__button{
        min-width: 214px;
        min-height: 46px;        
        font-size: 16px;   
        border-radius: 4px;     
    }

    .top__arrow-link{
        display: none;
    }

    .top__container::before {        
        width: 409px;
        height: 479px;        
        bottom: 0;
        right: 40px;
    }
}

@media (max-width: 680px) {
    .top {
        min-height: 204px;
    }

    .top__container {        
        min-height: 204px;
    }

    .top__title {
        font-size: 35px;
    }

    .top__sub {
        padding-left: 19px;
        margin-bottom: 10px;
        font-size: 10px;
    }

    .top__text {
        font-size: 10px;
    }

    .top__text_big {
        font-size: 26px;
    }

    .top__text_small {
        font-size: 22px;
    }

    .top__middle-block {        
        gap: 0 20px;
        margin-bottom: 30px;
    }

    .top__button{
        min-width: 117px;
        min-height: 27px;        
        font-size: 10px;   
        border-radius: 4px;     
    }

    .top__container::before {        
        width: 161px;
        height: 179px;        
        bottom: 0;
        right: 20px;
    }
    .top__container{
        margin: 0 auto;
    }
}